---
import type { SkillLevel } from '@/types/sections/skills-section.types';

export interface Props {
  skillLevel: SkillLevel;
  tileLevel: SkillLevel;
}

const { skillLevel, tileLevel } = Astro.props;

const isFilled = skillLevel >= tileLevel;
const classes = /* tw */ {
  filled: 'bg-primary-500 shadow-[0_0_8px_rgba(139,92,246,0.6)] scale-105',
  empty: 'bg-white/10',
};
---

<div
  class:list={[
    'h-1.5 w-6 rounded-full transition-all duration-300',
    isFilled ? classes.filled : classes.empty,
  ]}
>
</div>
