---
import type { DateRange } from '@/types/shared';
import formatDateRange from '@/utils/format-date-range';

export interface Props {
  dates: DateRange;
}
const { dates } = Astro.props;
---

<span class="font-mono text-xs text-gray-600">{formatDateRange(dates)}</span>
